body{
    background-color: aliceblue;
}

#form_div {
    background-color: aliceblue;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    
}

#outer-form{
    background-color:aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
}

.outer-form_div{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

label {
    display: block;
}

input {
    width: 100px!important;
}

.profile_div,
.outer-profile_div {
    width: 100%;
    text-align: center;
}

.elements {
    margin: 2%;
}

#name,
#outer-name {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#name>div,
#outer-name>div {
    margin-left: 20px;
}

#second,
#outer-second {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

#second>div,
#outer-second>div {
    margin-left: 20px;
}

#address,
#outer-address {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#address>div,
#outer-address>div {
    margin-left: 20px;
}

#age-gender,
#outer-age-gender {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#age-gender>div,
#outer-age-gender>div {
    margin-left: 20px;
}

#id-type,
#outer-id-type {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#id-type>div,
#outer-id-type>div {
    margin-left: 20px;
}

#buttons,
#outer-button {
    display: flex;
    justify-content: center;
}



.modal-bg {
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.bg-active {
    opacity: 1;
    visibility: visible;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}

@media(max-width: 470px){

    #id-type,
    #outer-id-type {
    display: flex;
    flex-direction: column;
    justify-content: start;   
}

#age-gender,
#outer-age-gender {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#second,
#outer-second {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}

#name,
#outer-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#address,
#outer-address {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#form div{
    margin: auto;
}
}

#edit-button-div{
    float: right;
    position: absolute;
    top: 10px;
}